@facebook: #3B5998;
@google: #dd4b39;
@twitter: #55acee;

.modal-account {

  input[type=email] {
    background: url('../img/email.png') 98.0% center no-repeat;
  }

  input[name=firstname],
  input[name=lastname] {
    background: url('../img/user.png') 98.00% center no-repeat;
  }

  input[type=password] {
    background: url('../img/lock.png') 98.00% center no-repeat;
  }
}

.btn-facebook {
  color: @white;
  background-color: @facebook;

  &:hover {
    color: @white;
    background-color: lighten(@facebook, 10%);
  }
}

.btn-twitter {
  color: @white;
  background-color: @twitter;

  &:hover {
    color: @white;
    background-color: lighten(@twitter, 10%);
  }
}

.btn-google {
  color: @white;
  background-color: @google;

  &:hover {
    color: @white;
    background-color: lighten(@google, 10%);
  }
}
